* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('assets/myriad-pro-regular.otf');
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.container {
  max-width: 1170px;
  padding: 30px;
  margin: 15px auto;
}

.fl-row {
  width: calc(100% + 30px);
  display: flex;
  flex-flow: column;
  margin-left: -15px;
  padding: 0;
}

@media ( min-width: 769px ) {
  .fl-row {
    flex-flow: row;
  }
}

.fl-row > * {
  flex-grow: 1;
  flex-basis: 1px;
  margin: 15px;
}



body {
  font-family: 'Myriad Pro', Arial, sans-serif;
  color: #071e57;
  background-color: #f8faff;
}


h2 {
  font-size: 15px;
  color: #1292ee;
}

.header {
  background-color: #404859;
  position: relative;
}

.header__nav {
  position: absolute;
  top: calc(15px + 2vmin);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  max-width: 542px;
  display: flex;
  justify-content: space-between;
}

.header__nav-links {
  list-style: none;
}

.header__nav-link-item {
  display: inline-block;
  margin: 0 20px;
  color: white;
  font-size: 14px;
  position: relative;
}
.header__nav-link-item {
  position: relative;
}


.nav-link--active::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  margin: auto;
  border-radius: 4px;
  background-color: #2ed47d;
}

.btn-search {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 20px;
}

.page-heading {
  text-align: center;
  padding: 6vmin 0;
}

.home-nav {
  text-align: right;
  margin-bottom: 60px;
}

.home-nav__links {
  list-style: none;
}

.home-nav__links-item {
  display: inline-block;
  margin-left: 40px;
  font-size: 14px;
  position: relative;
}


.info-form__heading {
  font-size: 32px;
  font-weight: normal;
  margin: 15px 0;
}

.info-form {
  text-align: center;
  padding: 0 30px;
}

.info-form__subtext {
  font-size: 14px;
  color: #748494;
  margin: 15px;
  display: inline-block;
}

.info-form__form-element-container {
  width: 80%;
  margin: 0 auto;
}

.info-form__form-element-container > input {
  display: inline-block;
  width: 100%;
  padding: 13px;
  margin: 15px 0;
  border: 2px solid transparent;
  background: #f5f5f5;
  font-size: 15px;
}

.info-form__form-element-container > input.error {
  border-color: indianred;
}

.info-form__submit {
  border: 0;
  padding: 17px;
  background: #166dd5;
  color: white;
  font-size: 15px;
  width: 160px;
  display: inline-block;
  margin-top: 15px;
}


.tile {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.05);
  padding: 50px;
  text-align: center;
  height: 100%;
}

.tile:hover {
  background-color: #1d2b37;
}

.tile:hover * {
  color: #ddd;
}

.tile__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-size: 100% 100%;
}

.tile__icon.icon1 { background-image: url('assets/icon1.svg'); }
.tile__icon.icon2 { background-image: url('assets/icon2.svg'); }
.tile__icon.icon3 { background-image: url('assets/icon3.png'); }

.tile:hover .tile__icon.icon1 { background-image: url('assets/icon1-white.svg'); }
.tile:hover .tile__icon.icon2 { background-image: url('assets/icon2-white.svg'); }
.tile:hover .tile__icon.icon3 { background-image: url('assets/icon3-white.png'); }

.tile__title {
  display: block;
  margin-bottom: 20px;
  color: #071e57;
}

.tile__description {
  color: #748494;
  display: block;
  margin: 15px 15px 30px;
  line-height: 1.5em;
}

.tile__link {
  color: #0077cc;
}

.tile:hover .tile__link {
  text-decoration: underline;
}

.tile__link::after {
  content: '\000A0\000A0\0203A'
}
